body {
    font-family: Arial;
}

.cntl {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cntl-states {
    width: 75%;
    margin: 0 auto;
}

.cntl-center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.cntl-bar {
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    background-color: #ccc;
    box-shadow: inset 0px 0px 7px -2px #000;
}

.cntl-bar-fill {
    background-color: #009ABB;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0;

}

.cntl-state {
    position: relative;
    width: 100%;
    min-height: 110px;
    margin-bottom: 50px;
}

.cntl-state::after {
    display: block;
    content: ' ';
    clear: both;
}

.cntl-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 2px dotted #53bed6;
    background-color: #ffffff;
    box-shadow: 0px 0px 19px -9px #000;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    color: #53bed6;
}

.cntl-content {
    width: 45%;
    float: left;
    opacity: 0;
    position: relative;
    margin-left: -40%;
}

.cntl-state:nth-child(2n+2) .cntl-content {
    float: right;
    margin-right: -40%;
}

.cntl-image {
    opacity: 0;
    width: 40%;
    padding: 2%;
}

.cntl-state:nth-child(2n+1) .cntl-image {
    float: right;
}

.cntl-image img {
    width: 100%;
}

.cntl-content h4 {
    color: #53bed6;
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 10px;
}

.cntl-content h5 {
    font-size: 0.9em;
    color: #34353a;
    font-weight: 500;
}

.cntl-content p {
    font-size: 0.9em;
    color: #34353a;
    line-height: 1.8em;
}

/*
animations
*/
.cntl-bar-fill, .cntl-content, .cntl-image {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

.cntl-state:nth-child(2n+2).cntl-animate .cntl-content {
    margin-right: 0%;
}

.cntl-animate .cntl-content {
    opacity: 1;
    margin-left: 0%;
}

.cntl-animate .cntl-image {
    opacity: 1;
}

/* mobile support */

@media (max-width: 600px) {

    .cntl-bar {
        left: auto;
        right: 37px;
    }

    .cntl-content {
        width: 80%;
        float: none;
    }

    .cntl-state:nth-child(2n+2) .cntl-content {
        margi-right: 0%;
        float: none;
    }

    .cntl-image {
        width: 80%;
    }

    .cntl-state:nth-child(2n+1) .cntl-image {
        float: none;
    }

    .animate .cntl-content {
        margin-left: 2%;
    }

    .cntl-icon {
        left: auto;
        right: 0;
    }

}
